* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    line-height: 1.6;
    color: #222;
    background: #fff;
    font-family: Arial, sans-serif;
}
h1
{
    text-align: center;
    color: #fffdfd;
}
header
{
    padding: 15px;
    background-color: #a37127;
}
nav {
    padding: 15px;
    display: flex;
    justify-content: flex-end; 
}
 main {
    margin-top: 40px;
    padding: 0 20px;
}

    
.LogBtn {
    display: inline-block;
    padding: 10px 18px;
    background: #a37127;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    border-radius: 10px;
    transition: 0.2s ease;

}

.LogBtn:hover {
    transform: translateY(-4px);
    background: #dfdfdf;
    color: #a37127;
}
.photo {
    position: relative;
    display: inline-block;
    transition: 0.2s ease;
}
.photo:hover
{
    transform: translateY(-4px);
}


.photo img {
    display: block;
    width: 100%;
    border-radius: 20px;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 2px 2px 6px white;
}
.Up, .Down {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
}

@media (max-width: 992px) {
    .text {
        font-size: 26px;
    }
}

@media (max-width: 768px) {
    .Up, .Down {
        flex-direction: column;
        align-items: center;
    }

    .photo img {
        width: 90vw;
    }

    .text {
        font-size: 22px;
    }

    .LogBtn {
        float: none;
        display: block;
        margin: 0 auto;
        text-align: center;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 20px;
    }

    .text {
        font-size: 18px;
    }
}

