* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.6;
    color: #222;
    background: #fff;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
    background: url("Gallery/ksiazki.jpg") center/cover no-repeat;
    color: #fff;
}

fieldset {
    width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #a37127;
    border-radius: 15px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    align-items: center;
}



    



h2 {
    text-align: center;
    margin: 20px 0;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.answer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

table {
    width: 90%;
    margin: 0 auto 20px auto;
    border-collapse: collapse;
}

table th {
    background: #f0f0f0;
}

table td, table th {
    border: 1px solid #555;
    padding: 10px;
}
